<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="proxy_port" value="9992"/>
    <add key="proxy_host" value="*"/>
    
    <add key="parent_port" value=""/>
    <add key="parent_host" value=""/>
    <add key="parent_user" value=""/>
    <add key="parent_pass" value=""/>
    <add key="parent_domain" value=""/>
    
  </appSettings>
</configuration>